/* images */
img {
  max-width: $full-width;
  vertical-align: middle;
}

/* page cover image - specifics */
.cover-img {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  background-color: $black-color-opacity-mid;

  img {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
  }
}

/* icons */
i {
  line-height: inherit;
}

/* emojis - specifics */
.emoji {
  font-size: 26px;
}

/* social media - specifics */
.media-content {
  text-align: center;

  a {
    color: $white-color-opacity-high;
    text-decoration: none;
    font-size: $font-size-medium1;
    line-height: $icon-line-height;
    margin: 0 15px;

    &:hover {
      color: $white-color;
    }
  }

  @media #{$medium-and-up} {
    a {
      font-size: $icon-size-large;
    }
  }
}
