/* sections */
.section-heading-wrapper {
  width: 100%;
  text-align: center;

  .section-heading {
    margin: 0 auto;
    display: inline-block;

    .section-heading-content {
      font-weight: 700;
      font-size: 40px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      background-color: $black-color-opacity-mid;
      padding: 15px;
      color: $white-color;
      display: inline-block;

      @include media-query($on-laptop) {
        font-size: 32px;
        padding: 10px;
      }
    }
  }
}

.section-content {
  padding: 45px 30px 60px 30px;
  background-color: $white-color;
  background-color: $white-color-opacity-high;
  box-shadow: $box-shadow-2;
  margin: $spacing-unit auto 0;
  max-width: $max-inner-width-px;
  width: $max-width-percent;
  border-radius: $border-radius;

  h1 {
    font-size: 38px;
    font-weight: 800;

    @include media-query($on-laptop) {
      font-size: 34px;
    }
  }

  a {
    color: $base-text-color;
    font-weight: $font-weight-heavy;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }

  li {
    font-weight: $base-font-weight;
    font-size: 20px;
    line-height: $base-line-height;
    letter-spacing: $letter-spacing-negative;
    word-wrap: break-word;
    list-style-type: circle;
    margin: 0 auto;
    padding: 10px 0;
    max-width: $max-inner-width-px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  p {
    text-align: center;
    font-weight: $base-font-weight;
    font-size: 21px;
    line-height: $base-line-height;
    letter-spacing: $letter-spacing-negative;
    margin: 15px 0;

    @include media-query($on-laptop) {
      margin-top: 21px;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: $large-screen) {
  .section-heading-wrapper {
    margin: 0 auto;
    padding: 0 $spacing-unit;
  }

  .section-content {
    width: $full-width;
    padding: 45px 15px 60px;

    ul {
      margin: 0 10px 0 30px;
    }
  }
}
